@charset "utf-8";
.img1 {
    background-image: url(img/Mesa
%20de%20trabajo%203%20(1).png);
}
.colors {
    background-image: -webkit-linear-gradient(270deg,rgba(253,212,0,1.00) 0%,rgba(255,0,0,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(253,212,0,1.00) 0%,rgba(255,0,0,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(253,212,0,1.00) 0%,rgba(255,0,0,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(253,212,0,1.00) 0%,rgba(255,0,0,1.00) 100%);
}
.VIDEO {
    background-image: url(motos-75775.mp4);
}
.colorf {
    background-color: rgba(0,0,0,1.00);
}
.cb {
    color: rgba(255,255,255,1.00);
    text-align: left;
}
